<div class="contact-form">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-8 col-md-10 col-sm-11 col-xs-11">
                <div class="sub-page">
                    <h1>Contact Form</h1>
                    <div class="boxes">
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="first-col">
                                        <label for="fname" class="fname"><strong>FIRST NAME*</strong></label>
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="last-col">
                                        <label for="lname" class="lname"><strong>LAST NAME*</strong></label>
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>

                                <div class="Email">
                                    <label for="Email" class="email"><strong>EMAIL*</strong></label>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="Message">
                                    <label for="Message" class="message"><strong>MESSAGE*</strong></label>
                                    <input type="text" class="form-control" placeholder="Message">
                                </div>
                                <div class="Additional_Details">
                                    <label for="Additional_Details" class="Additional_Details"><strong>ADDITIONAL
                                            DETAILS*</strong></label>
                                    <input type="text" class="form-control" placeholder="details">
                                </div>
                                <div class="send-message">
                                    <button class="btn btn-primary">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="content">
                <h1>How Can We Help?</h1>
                <p>Please select topic below related to your inquiry If you dont know what you need then fill our
                    contact form
                </p>
                <div class="demo">
                    <h4>Book A Demo</h4>
                    <p>Request to demo from one of our conversion specilist </p>
                    <hr>
                </div>
                <div class="demo">
                    <h4>Book A Demo</h4>
                    <p>Request to demo from one of our conversion specilist </p>
                    <hr>
                </div>
                <div class="demo">
                    <h4>Book A Demo</h4>
                    <p>Request to demo from one of our conversion specilist </p>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>